<div class="div">
    <span class="label">
        <label for="codigo">Código</label>
        <br>
        <input type="number" id="codigo" [(ngModel)]="product.id"/>
    </span>
    <span class="label">
        <label for="descricao">Descrição</label>
        <br>
        <input type="text" id="descricao" [(ngModel)]="product.descricao"/>
    </span>
    <span class="label">
        <label for="custo">Custo</label>
        <br>
        <input type="number" id="custo" [(ngModel)]="product.custo"/>
    </span>
    <span class="label">
        <label for="preco">Preço de Venda</label>
        <br>
        <input type="number" id="preco"/>
    </span>
</div>